*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body{
    background-color: blue;
}
main{
    display:flex;
    width: 500px;
    height: 400px;
    background-color: aliceblue;
    margin: auto;
    margin-top: 20%;
    align-items: center;
}
section #altura{
    margin: auto;
    height: 50px;
    width:15vw;
    
    
}

section #peso{
    
    height: 50px;
    width:15vw;
    
}
